body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  } 
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0; /* Behind the navbar */
    padding: 10px 10px 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: none;
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: whitesmoke;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: lightgray;
  }
  
  .sidebar .nav-link.active {
    color: lightsteelblue;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: lightsteelblue;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  } */
  
  /*
   * Navbar
   */
  
  /* .navbar-brand {
    padding-top: .100rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #E9F1F7;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  } */
  
  .header1{
    color: #233554;
  }

  footer{
    text-align: center;
    padding: 0;
    background-color: #D8D5DB;
    color: #233554;
    width: 100%;
    margin: 0;
  }