button {
    background-color: white;
    color: #233554;
    border-radius: 40px;
    margin: auto;
    display: block;
    float: right;
}

label{
    color: #233554 !important;
}

option{
    color: #233554 !important;
}

form{
    margin-left: auto;
    margin-right: auto;
    border: 2px !important;
}

/* input{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #233554 !important;
} */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

.card-header{
    text-align: center;
    color: #233554 !important;
    font-weight: bold;
    font-size: larger; 
}


.text-my-own-color {
    color: #233554 !important; 
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.btn-primary {
    background-color: #233554 !important;
    color: white !important; 
    border-color: white !important;
    border-radius: 40px !important;
}

.btn-secondary {
    background-color: white !important;
    color: #233554 !important; 
    border-color: #233554 !important;
    border-radius: 40px !important;
}

/* body {
    background: linear-gradient(0deg, rgba(128, 128, 128, 0.4), rgba(128, 128, 128, 0.4)),url('{{asset("/img/background.jpg")}}');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
} */

input, textarea{
    background-color: white !important;
    margin: 5px 0 22px 0;
    border: 2px solid #aeb0b1 !important;
    border-radius: 5px;
    padding: 10px; 
    width: 100%;
}